[submodule "nimbro_network"]
    path = nimbro_network
    url = https://github.com/AIS-Bonn/nimbro_network.git
    branch = bugfix/prune_segfault
[submodule "spatio_temporal_voxel_layer"]
    path = spatio_temporal_voxel_layer
    url = https://github.com/HaoguangYang/spatio_temporal_voxel_layer.git
    branch = noetic-devel
[submodule "ReFrESH_ros"]
    path = behavior_tree_ros
    url = https://github.com/HaoguangYang/ReFrESH_ros.git
    branch = master
[submodule "groot"]
    path = groot
    url = https://github.com/BehaviorTree/Groot.git
    branch = master
