<launch>
  <arg name="static_map" default="1"/>
  <arg name="map_file" default="map"/>
  <arg name="map_save_period" default="-1"/>
  <group if="$(arg static_map)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find omniveyor_mobility)/resources/map/$(arg map_file).yaml" />
    <node pkg="amcl" type="amcl" name="amcl" respawn="false" output="screen">
        <rosparam file="$(find omniveyor_mobility)/param/amcl_params.yaml" command="load" />
        <remap from="amcl_pose" to="map_pose"/>
    </node>
  </group>
  <group unless="$(arg static_map)">
    <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_lifelong" output="screen">
      <rosparam command="load" file="$(find omniveyor_mobility)/param/slam_lifelong_params.yaml" />
      <remap from="slam_lifelong/scan" to="scan"/>
    </node>
    <node pkg="omniveyor_mobility" type="mapPoseFromTFOdom_node" name="tf_map_pose_repub" output="screen">
        <param name="odom_topic" value="odom/filtered"/>
    </node>
    <group if="$(eval arg('map_save_period') > 0)">
        <node name="map_saver" pkg="map_server" type="map_saver" args="-f $(find omniveyor_mobility)/resources/map/$(arg map_file)" respawn="true" respawn_delay="$(arg map_save_period)"/>
    </group>
  </group>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_world" clear_params="true">
    <rosparam command="load" file="$(find omniveyor_mobility)/param/world_pose_ekf.yaml" />
    <remap from="odometry/filtered" to="map_pose/filtered"/>
  </node>
</launch>
