<launch>
  <arg name="static_map" default="1"/>
  <arg name="map_file" default=""/>
  <arg name="map_save_period" default="-1"/>
  <group if="$(arg static_map)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node pkg="amcl" type="amcl" name="amcl" respawn="false" output="screen">
        <rosparam file="$(find omniveyor_mobility)/param/amcl_params.yaml" command="load" />
    </node>
  </group>
  <group unless="$(arg static_map)">
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <rosparam file="$(find omniveyor_mobility)/param/gmapping_params.yaml" command="load" />
    </node>
    <group if="$(eval arg('map_save_period') > 0)">
        <!-- save map periodically -->
    </group>
  </group>
</launch>
